{% extends "base.html" %}
{% block head_title %} Latest Reviews | {{ block.super }}{% endblock head_title %}
{% block content %}


{% include 'partials/nav_header.html' %}

<div id="reviewCardContainer" style="margin-top: 65px;" class="container">
  <h3 style="font-weight: 600;" class="text-left d-block d-sm-none">Latest Reviews</h3>
  <div class="row justify-content-center align-items-center">

    <div style="margin-bottom: 50px;" id="reviewList" class="col-12 col-md-6 p-0">
      <h2 style="font-weight: 600;" class="text-left d-none d-sm-block">Latest Reviews</h2>
      {% include 'messages_display.html' %}
      {% include "partials/reviews/review_copy_link_notification.html" %}
      {% include "partials/reviews/review_card.html" %}
    </div> <!--/.col-12.p-0-->
  </div> <!--/.row-->
</div> <!--/.container-->


<style>
  body {
    background-color: #f8f9fa;
  }
</style>


{% endblock %}
{% block domready %}

document.getElementById('copyLink').addEventListener('click', e => {
  e.preventDefault();
  navigator.clipboard.writeText(e.target.href).then(() => {
    /* clipboard successfully set */
    console.log('set');
  }, () => {
    /* clipboard write failed */
    console.log('failed');
  });

  document.getElementById('myAlert').classList.toggle('target');
  document.getElementById('exampleModal1').classList.toggle('hide');
  
  $('#exampleModal1').modal('hide')

  setTimeout(() => {
    document.getElementById('myAlert').classList.toggle('target'); 
  }, 3000);
});

$('#exampleModal').modal('hide');

$('#reviewList').click(function(e){
  
  if (e.target.parentElement.className == 'review-like') {
    e.preventDefault();
    const anchor = e.target.parentElement;
    $.post('{% url "reviews:review_like" %}',
    {
      id: $(anchor).data('id'),
      action: $(anchor).data('action')
    },
    function(data){
      if (data['status'] == 'ok')
      {
        var previous_action = $(anchor).data('action');
        // toggle data-action
        $(anchor).data('action', previous_action == 'like' ? 'unlike' : 'like');
        // toggle heart icon
        $(anchor).html(previous_action == 'like' ? 
        `<i style="color: #23CE6B;" class="mt-1 fas fa-heart pulsate-fwd"></i>` : 
        `<i style="color: #6c757d!important;" class="mt-1 far fa-heart pulsate-fwd"></i>`);
        // update total likes
        var previous_likes = parseInt($('span.count .total').text());
        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
      
  }})};
  });

document.getElementById('reviewCardContainer').addEventListener('click', function(event){
  const anchor = event.target;
  if (anchor.className === 'show-link') {
    event.preventDefault();
    const less = event.target.parentNode.firstElementChild.nextElementSibling;
    const dots = less.firstElementChild;
    const more = less.nextElementSibling;
    if (dots.style.display === 'inline') {
      less.style.display = 'none';
      dots.style.display = 'none';
      more.style.display = 'inline';
      anchor.style.display = 'none';
    };
  };
  });

var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function() {
  var margin = $(document).height() - $(window).height() - 200;
  if  ($(window).scrollTop() > margin && empty_page == false && block_request == false){
    block_request = true;
    page += 1;
    $.get('?page=' + page, function(data) {
      if(data == '') {
        empty_page = true;
      } else {
        block_request = false;
        $('#reviewList').append(data);
      }
         });
       }
     });
{% endblock %}
