{% extends "base.html" %}
{% block head_title %}{{ strain.name }} Review | {{ block.super }}{% endblock head_title %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="h-100 row justify-content-center align-items-center">
    <div class="col-sm-6">
      <h2 style="font-weight: 600;">Review {{ strain }}</h2>
      <hr/>
      <form method="POST" action="" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="form-group">
          {{ form.rating.errors }}
          <p class="text-muted mb-n1">Rate this strain</p>
          {{ form.rating|as_crispy_field }}

          {{ form.method.errors }}
          {{ form.method }}

          {{ form.title.errors }}
          {{ form.title|as_crispy_field }}

          {{ form.content.errors }}
          {{ form.content|as_crispy_field }}

          {{ form.photo.errors }}
          {{ form.photo|as_crispy_field }}
        </div>
        <button type=submit style="background-color:#6eb257; color: white; font-weight: 600; font-size: 1.2rem; letter-spacing: 1px;" 
        class="mx-auto mt-3 mb-3 btn btn-block shadow">
           Submit
        </button>
      </form>
    </div>      
  </div>
</div>

<style>
  .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #6eb257 !important;
    border-color: #6eb257 !important;
}
  .btn-outline-success {
    color: #6eb257;
    border-color: #6eb257 !important;
  }
</style>

{% endblock %}
