{% extends "base.html" %}
{% block head_title %} Latest Reviews | {{ block.super }}{% endblock head_title %}
{% block content %}

{% include 'messages_display.html' %}

<div id="reviewCardContainer" class="mt-3 container">
  <h2 style="font-weight: 600;" class="text-left">Latest Reviews</h2>
  <div class="row justify-content-center align-items-center">
    <div id="reviewList" class="col-sm-6">
        {% include "partials/reviews/review_card.html" %}
    </div> <!--/.col-sm-6-->
  </div> <!--/.row-->
</div> <!--/.container-->

{% endblock %}

{% block domready %}

$('#reviewList').click(function(e){
  
  if (e.target.parentElement.className == 'review-like') {
    e.preventDefault();
    const anchor = e.target.parentElement;
    $.post('{% url "reviews:review_like" %}',
    {
      id: $(anchor).data('id'),
      action: $(anchor).data('action')
    },
    function(data){
      if (data['status'] == 'ok')
      {
        var previous_action = $(anchor).data('action');
        // toggle data-action
        $(anchor).data('action', previous_action == 'like' ? 'unlike' : 'like');
        // toggle heart icon
        $(anchor).html(previous_action == 'like' ? 
        `<i style="color: #FF6663;" class="mt-1 fas fa-heart"></i>` : 
        `<i style="color: black;" class="mt-1 far fa-heart"></i>`);
        // update total likes
        var previous_likes = parseInt($('span.count .total').text());
        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
      
  }})};
  });

document.getElementById('reviewCardContainer').addEventListener('click', function(event){
  const anchor = event.target;
  if (anchor.className === 'show-link') {
    event.preventDefault();
    const less = event.target.parentNode.firstElementChild.nextElementSibling;
    const dots = less.firstElementChild;
    const more = less.nextElementSibling;
    if (dots.style.display === 'inline') {
      less.style.display = 'none';
      dots.style.display = 'none';
      more.style.display = 'inline';
      anchor.style.display = 'none';
    };
  };
  });

var page = 1;
var empty_page = false;
var block_request = false;
$(window).scroll(function() {
  var margin = $(document).height() - $(window).height() - 200;
  if  ($(window).scrollTop() > margin && empty_page == false && block_request == false){
    block_request = true;
    page += 1;
    $.get('?page=' + page, function(data) {

      console.log('hello');

      if(data == '') {
        empty_page = true;
      } else {
        block_request = false;
        $('#review-list').append(data);
      }
         });
       }
     });
{% endblock %}
