{% extends "base.html" %}
{% block head_title %}{{ review.title }} | {{ block.super }}{% endblock head_title %}
{% load rating_icon %}
{% block content %}

<div id="" class="container mb-3">
    <!--hide on mobile-->
    <div id="reviewList" class="col-md-6 mt-2">
      {% include 'messages_display.html' %}
      <div class="card">
        {% include "partials/reviews/review_card_header.html" %}
        {% include "partials/reviews/review_card_photo.html" %}
        {% include "partials/reviews/review_card_body.html" %}
      </div>
    </div> <!--/.col-md-7.col-lg-7.mt-5-->
  </div> <!--/.row-->
</div> <!--/.container-->

{% endblock %}
