
{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% load split_lists %}
{% block content %}

{% include "messages_display.html" %}

<div style="padding-top: 100px;" class="container">
  <div class="row">
    <div class="col-sm-6 mb-4">
      <span style="height: 33px; width: 33px; box-shadow: 0 4px 8px rgba(0,0,0,.16);" class="float-right rounded-circle">
        <a href="" data-id="{{ strain.id }}" 
          style="height: 33px; width: 33px; box-shadow: 0 4px 8px rgba(0,0,0,.16);"
          data-action="{% if request.user in users_like %}un{% endif %}like"
          class="float-right rounded-circle strain-like text-success">
            <i style="position: relative; left: 8px; top: 7px;" class="strain-like {% if request.user in users_like %}
            fas fa-heart{% else %}far fa-heart{% endif %}">
            </i> 
        </a>
      </span>
      <h2 style="font-weight: 500;" class="text-left">{{ strain }}</h2>

      
      <div class="card">
        {% include "partials/strains/strain_detail_photo.html" %}
      </div> <!--/.card-->
    </div> <!--/.col-sm-6-->
    
    
    
    <div class="col-sm-6">
      {% include "partials/strains/strain_card_rating.html" %}
      <hr/>
      <p style="font-weight: 600; color: #058C42">
        <span class="text-dark">Rating based on</span> {{ strain.user_review.all.count }} reviews.
      </p>
      <hr/>
      {% if strain.lineage %}
      {% include "partials/strains/strain_detail_lineage.html" %}
      {% endif %}
    </div> <!--/.col-sm-6-->
  </div> <!--/.row-->

<div class="row">
  <div class="col-12">
    <hr>
    <p class="mt-5">{{ strain.summary }}</p>
  </div>
</div>
  

{% include "partials/strains/strain_detail_reviews.html" %}


<style>
  div.alert {
    margin-top: 50px;
  }
</style>

{% endblock %}


{% block domready %}


const strainRating = {{ strain.get_average_rating }}


$(".my-rating").starRating({
  initialRating: strainRating,
  readOnly: true,
  totalStars: 5,
  starShape: 'rounded',
  starSize: 20,
  emptyColor: 'lightgray',
  hoverColor: 'salmon',
  activeColor: '#0D2818',
  useGradient: false
});


$('a.strain-like').click(function(e){
  e.preventDefault();
  console.log('hello');
  $.post('{% url "reviews:strain_like" %}',
{
  id: $(this).data('id'),
  action: $(this).data('action')
},
  function(data){
    if (data['status'] == 'ok')
  {
    var previous_action = $('a.strain-like').data('action');
    // toggle data-action
    $('a.strain-like').data('action', previous_action == 'like' ? 'unlike' : 'like');
    // toggle heart icon
    $('a.strain-like').html(previous_action == 'like' ? 
    `<i style="position: relative; left: 8px; top: 7px;" class="fas fa-heart text-success"></i>` : 
    `<i style="position: relative; left: 8px; top: 7px;" class="far fa-heart text-success"></i>`);
    // update total likes
    var previous_likes = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
  }});
});

{% endblock %}
