{% extends "base.html" %}
{% block head_title %} Strains | {{ block.super }}{% endblock head_title %}

{% block content %}

{% include 'partials/nav_header.html' %}

<div style="padding-top: 100px;" class="container-fluid">
  <h2 style="font-weight: 600;" class="text-left">Explore Strains</h2>
  <hr/>
  <div class="row">
    {% include "partials/strains/strain_list.html" %}
  </div>
</div> <!--/.container-fluid -->

<div class="container">
  {% include "partials/strains/strains_pagination.html" %}
</div>

<style>
  .header-container {
    padding-bottom: 100px;
  }
</style>
{% endblock %}


