{% for strain in strains %}
{% with total_reviews=strain.user_review.count %}
{% with total_likes=strain.user_like.count %}
 
<div class="card m-1">
  {% if strain.photo_url %}
  <a href="{{ strain.get_absolute_url }}">
    <img class="card-img-top" src="{{ strain.photo_url }}" style="object-fit: cover; height: 325px; width: 325px;" alt="Card image cap">
    {% else %}
    <img class="card-img-top" src="https://via.placeholder.com/250" style="object-fit: cover; height: 325px; width: 300px;" alt="Card image cap">
    {% endif %}
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'reviews:strain_detail' strain.id %}">{{ strain }}</a>
    </h5>
    <span class="float-right"><i class="fas fa-heart text-success"></i> {{ strain.users_like.all.count }}</span>
    {% if strain.user_review.count > 0 %}
    <p class="card-text">{{ strain.get_average_rating|floatformat:1 }} <i class="text-success fas fa-star"></i>
    • {{ strain.user_review.count }} review{{ strain.user_review|pluralize:'s' }}
    </p> 
    {% else %}
    <p class="card-text">No reviews yet.</p>
    {% endif %}
   
  </div>
      
</div>
{% endwith %}
{% endwith %}



{% endfor %}




