{% with total_likes=strain.users_like.count users_like=strain.users_like.all %}

<div class="card">
    <div class="card-body">
      {% if total_likes %}
      <span style="font-size: 1.1rem;" class="float-right">
        <i class="text-success fas fa-heart"></i> {{ total_likes }} Like{{ total_likes|pluralize }}</span>
      {% endif %}
    </span>
      <h5 class="card-title font-weight-bold d-inline">{{ strain }}</h5>
      <p class="card-text">
        {% if strain.get_average_rating %}
        {{ strain.get_average_rating }} <i class="text-success fas fa-star"></i> • 
        <span class="text-muted">
          <u>
            {{ strain.user_review.all.count }}
            <a href="{% url 'reviews:strain_reviews' strain.id %}">
              review{{ strain.user_review.all|pluralize:"s" }}
            </a> 
          </u>
        </span>
      </p>
      {% endif %}
      {% include "partials/strains/strain_detail_genetics.html" %}
    </div>
  </div>

  {% endwith %}