{% with total_likes=strain.users_like.count users_like=strain.users_like.all %}

<div class="card">
    <div class="card-body">
      <h2 class="mt-2 text-left">{{ strain }}</h2>
      {% if total_likes %}
      <span style="font-size: 1.1rem;" class="float-right">
           <i class="text-success fas fa-heart"></i> {{ total_likes }} Like{{ total_likes|pluralize }}</span>
      </span>
      {% endif %}
      {% include "partials/strains/strain_card_rating.html" %}
       <!-- {% if strain.lineage %}
       <hr/>
       <h5 class="text-left">Parent Landraces</h5>
       {% include "partials/strains/strain_detail_lineage.html" %}
       {% endif %} -->
    </div>
  </div>

  {% endwith %}