{% load rating_icon %}

{% if reviews %}
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Latest Reviews</h5>
        {% for review in reviews|slice:":10" %}
        <p class="text-center">
            {{ review.rating }}<i class="text-success fas fa-star"></i> •

            <a href="{{ review.get_absolute_url }}"><u>{{ review.title }}</u></a>
            {% include "partials/strains/strain_review_method_icon.html" %}
            by
            <a class="" href="{% url 'accounts:user' review.user %}">
                <u>
                {{ review.user }}
                </u>
            </a> 
        </p>
        {% endfor %}
    </div>
</div>
{% endif %}