{% with total_likes=strain.users_like.count users_like=strain.users_like.all %}
<nav style="list-style-type: none;" class="navbar navbar-light bg-white border-top border-bottom mt-4">
    <ul class="mx-auto list-group list-group-horizontal nav-fill">
      <li class="list-group-item border-top-0 border-bottom-0 border-left-0">
        <a href="{% url 'reviews:share_strain' strain.id %}"><i class="fas fa-share"></i> Share</a>
      </li>
      <li class="list-group-item border-top-0 border-bottom-0">
        <a href="{% url 'reviews:strain_review' strain.id %}"><i class="fas fa-pencil-alt"></i> Review</a>
      </li>
      <li class="list-group-item border-top-0 border-bottom-0 border-right-0">
          <a href="" data-id="{{ strain.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="strain-like">
            <i class="strain-like {% if request.user in users_like %}fas fa-heart{% else %}far fa-heart{% endif %}"></i> {% if request.user not in users_like %} Like {% else %} Unlike {% endif %}
            </a>
      </li>
    </ul>
  </nav>
{% endwith %}



