* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
  }
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

a {
  text-decoration: none !important;
  color: grey;
}
.navbar {
  margin-bottom: 0em;
}
.row.my-reviews {
  margin-top: 100px;
}
/*set maxium size of review images in thumbnail of reviews template*/
.thumbnail.image-left > img {
  margin: 10px;
  height: 175px;
  width: 175px;
}
.img-responsive.strain-photo {
  height: 100%;
  width: 100%;
}
.thumbnail.image-left span >  a {
  color: green;
}
.caption h4 > a {
  color: green;
}

/*small thumbnail images of user and review */
.img-responsive.img-circle.profile {
  float: left;
  height: 55px;
  width: 55px;
}
.img-responsive.img-circle.avatar {
  max-height: 250px;
  max-width: 250px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.count {
    color: black;
    font-weight: bold;
    border:3px solid black;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
    float: left;
}
.like.button {
  color: black;
  font-weight: bold;
  border:3px solid black;
  border-radius:26px;
  padding:10px 20px;
  margin:20px 10px 0;
  float: right;
}
.follow {
  color: white;
  font-weight: bold;
  background-color: black;
  border:3px solid white;
  padding:10px 20px;
  margin:20px 10px 0;
  float: right;
}
.user-list h3 {
  margin-bottom: 50px;
}

.user-list a {
  color: black;
}

.user-list-element {
  height: 200px;
  width: 200px;
}
.strain.thumbnail > img {
  max-height: 55px;
  max-width: 55px;
  float:left;
}

.flag {
  margin-left: 10px;
  margin-top: 20px;
}
.jumbotron {
  background-image: url("/static/reviews/images/washington1.jpg");
  background-size: cover;
  height: 375px;

}

.jumbotron > .container h1, p {
  color: white;
}
