* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
  }
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
body {
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: grey;
}
.navbar {
  margin-bottom: 0em;
}
.jumbotron {
  background-image: url("/static/reviews/images/washington1.jpg");
  background-size: cover;
  height: 375px;
}
.jumbotron.jumbotron-fluid {
  margin-bottom: 0px;
}
.jumbotron.jumbotron-fluid > div {
  color: white;
  position: relative;
  bottom: -10em;
}
/*list of user reviews on profile*/
.row.my-reviews {
  margin-top: 100px;
}
/*set maxium size of review images in thumbnail of reviews template*/
.thumbnail.image-left > img {
  margin: auto;
  height: 175px;
  width: 175px;
}
/*strain thumnail on strain detail template*/
.img-responsive.strain-photo {
  height: 100%;
  width: 100%;
}
/*user name for strain review thumbnail*/
.thumbnail.image-left span >  a {
  color: green;
}
/*review title in thumbnail caption*/
.caption h4 > a {
  color: green;
}
/*small thumbnail images of user and review */
.img-responsive.img-circle.profile {
  float: left;
  height: 55px;
  width: 55px;
}
#discover-list {
  list-style: none;
}
#discover-list > li {
  display: inline-block;
  margin: 0.5em;
  float: right;
}
.img-responsive.img-circle.discover-profile {
  max-height: 5em;
  max-width: 5em;
}
.user-list-element.img-responsive.img-circle {
  margin: auto;
}
/*profile user photo*/
.img-responsive.img-circle.avatar {
  max-height: 250px;
  max-width: 250px;
  height: 100%;
  width: 100%;
  margin: auto;
}
.count {
    color: black;
    font-weight: bold;
    border:3px solid black;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
    float: left;
}
.like.button {
  color: black;
  font-weight: bold;
  border:3px solid black;
  border-radius:26px;
  padding:10px 20px;
  margin:20px 10px 0;
  float: right;
}
.follow {
  color: white;
  font-weight: bold;
  background-color: black;
  border:3px solid white;
  padding:10px 20px;
  margin:20px 10px 0;
  float: right;
}
.user-list h3 {
  margin-bottom: 50px;
}
.user-list a {
  color: black;
}
.user-list-element {
  height: 200px;
  width: 200px;
}
/*thumbnail strain image for strain list*/
.strain.thumbnail > img {
  max-height: 55px;
  max-width: 55px;
  float:left;
}

.flag {
  margin-left: 10px;
  margin-top: 20px;
}
.footer {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #F4FAFF;
  width: 100%;
  height: 40px;
}
#list {
  list-style: none;
  text-decoration: none;
  color: white;
}
#list > .social {
  float: right;
}
#list > li {
  display: inline-block;
  margin: 0.5em;
}
#list a {
  color: white;
}
.col-xs-12.discover {
  background-color: #E6EBE0;
}
.col-xs-6.col-md-6.discover {
  background-color: #E6EBE0;
}
#home  button {
  margin-bottom: 1em;
  margin-top: 1em;
}
