{% load rating_icon%}
{% if user.strains_liked %}

<h5 class="text-left">Favorites</h5>
{% endif %}
<div class="row">
    <div class="card-columns">
        {% for strain in user.strains_liked.all %}
        <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" 
        class="tab-pane fade show active">
            <div class="card mb-4">
                <a href="{% url 'reviews:strain_detail' strain.id %}">
                {% if strain.photo_url %}
                <img class="card-img-top" src="{{ strain.photo_url }}" alt="Card image cap">
                {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                {% endif %}
                </a>
                <div class="card-body">
                    <a class="w-50 mx-auto card-title text-center btn btn-sm btn-block btn-outline-info" href="{{ strain.get_absolute_url }}">
                        {{ strain.name|title }}
                    </a>
                    <p class="text-center"> 
                        {% if strain.get_average_rating %} 
                        {{ strain.get_average_rating|get_digit:1|rating_icon }}
                        {% else %} 
                        {% endif %}
                    </p>
                </div> <!--/.card-body-->
            </div>
        </div> <!--/.col-6.col-sm-4-->
        {% endfor %}
    </div> <!--/.card-columns-->
</div> <!--/.row-->