<ul class="mt-4 mb-4 list-group list-group-horizontal">
    <li class="text-center list-group-item border border-left-0 border-right-0">
        <h6><b>{{ review_numbers }}</b> Reviews</h6>
    </li>
    <li class="text-center list-group-item border border-left-0 border-right-0">
        <h6>
            <a class="text-dark text-decoration-none" data-toggle="modal" href="#followersModal"><b id="total-followers">{{ total_followers }}</b> Followers</a>
        </h6>
    </li>
    <li class="text-center list-group-item border border-left-0 border-right-0">
        <h6>
            <a class="text-dark text-decoration-none" data-toggle="modal" href="#followingModal"><b>{{ total_following }}</b> Following</a>
        </h6>
    </li>
</ul>