{% load rating_icon%}
{% if user.strains_liked %}
<h5 class="text-left">Favorites</h5>
{% endif %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <!-- <div class="card-columns"> -->
        {% for strain in user.strains_liked.all %}
        <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" 
        class="tab-pane fade show active">
            <div class="card m-1">
                <a href="{{ strain.get_absolute_url }}">
                    {% if strain.photo_url %}
                    <img class="card-img-top" src="{{ strain.photo_url }}" style="object-fit: cover; height: 325px; width: 325px;" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="https://via.placeholder.com/250" style="object-fit: cover; height: 325px; width: 300px;" alt="Card image cap">
                    {% endif %}
                </a>
                <div class="card-body">

                    <h5 class="card-title">
                        <a href="{% url 'reviews:strain_detail' strain.id %}">{{ strain }}</a>
                    </h5>
                    <span class="float-right"><i class="fas fa-heart text-success"></i> {{ strain.users_like.all.count }}</span>

                    {% if strain.user_review.count > 0 %}
                    <p class="card-text">{{ strain.get_average_rating|floatformat:1 }} <i class="text-success fas fa-star"></i>
                        • {{ strain.user_review.count }} review{{ strain.user_review|pluralize:'s' }}
                    </p> 
                    {% else %}
                    <p class="card-text">No reviews yet.</p>
                    {% endif %}
                </div> <!--/.card-body-->
            </div>
        </div>
        {% endfor %}

            <!-- </div> /.card-columns -->
    </div> <!--/.row-->
</div>