{% extends "base.html" %}
{% block head_title %}Login | {{ block.super }}{% endblock head_title %}
{% load  crispy_forms_tags %}

{% block content %}

{% if form.errors %}
  <p>Opps! Username and password did not match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <p>Your account does not have access to this page. Please login with an account with access to proceed.</p>
  {% else %}
  <div class="alert alert-danger messages alert-dismissible fade show mb-n1" role="alert">
    <p>Please login to access this page.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  {% endif %}
{% endif %}

<div class="container">
  <div class="h-100 mt-4 row justify-content-center align-items-center">
    <div class="col-sm-6 bg-white border">
      <h5 class="mt-4 text-center">Canvas</h5>
      <form method="POST" action="" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type=submit class="btn btn-block btn-info">
           Submit
        </button>
      </form>
      <a class="mt-3 btn btn-block btn-outline-secondary" 
      href="{% url 'accounts:password_reset' %}">
        Forgot Password?
      </a>
      <p class="text-center mt-3">Need an <a
        class="text-dark" href="{% url 'accounts:register' %}"><b>account?</b></a>
      </p>
      
    </div> <!--col-sm-6-->      
  </div> 
</div>

{% endblock %}
