{% extends "base.html" %}
{% block head_title %}Login | {{ block.super }}{% endblock head_title %}
{% load static %}
{% load  crispy_forms_tags %}


{% block content %}


{% if next %}
  {% if user.is_authenticated %}
  <p>Your account does not have access to this page. Please login with an account with access to proceed.</p>
  {% else %}
  <div class="alert alert-danger messages alert-dismissible fade show mt-n0" role="alert">
    <p>Please login to access this page.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  {% endif %}
{% endif %}

<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-sm-5">
        <img class="img-fluid d-none d-sm-block" src="{% static 'reviews/images/purple_cannabis.jpg' %}" />
    </div>
    <div class="col-sm-5 bg-white border">
        <h1 class="text-center mt-4">Canvas</h1>
        <p class="text-center">Cannabis strain database.</p>
        <form method="POST" action="" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          {{ form|crispy }}
          <button type=submit class="font-weight-bold btn btn-block btn-primary">
             Submit
          </button>
        </form>
        <hr/>
        <a class="d-block mb-4 mt-4 text-center text-primary font-weight-bold" 
          href="{% url 'accounts:password_reset' %}">
          Forgot Password?
        </a>
    </div> <!--col-sm-6-->
    <div class="mt-4 bg-white border col-sm-5 offset-sm-5">
      <p class="text-center mt-3">Need an <a
        class="text-primary font-weight-bold" href="{% url 'accounts:register' %}">account?</a>
      </p>
    </div>
  </div> <!--/.row-->
</div>

<style>
  #id_username {
    background-color: #f8f9fa !important;
  }
  #id_password {
    background-color: #f8f9fa !important;
  }
</style>

{% endblock %}
