{% extends "base.html" %}
{% block head_title %}Password Reset | {{ block.super }}{% endblock head_title %}
{% load  crispy_forms_tags %}


{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="h-100 mt-4 row justify-content-center align-items-center">
    <div class="bg-white border col-sm-6">
      <p class="text-center mt-4">
        <i class="fas fa-lock fa-3x"></i>
      </p>
      <h5 class="text-center"><b>Unable to login?</b></h5>
      <p class="text-center text-secondary">Enter your email and a password reset link will be sent to your address.</p>
      <form method="POST" action="" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type=submit class="btn btn-block btn-info">
           Submit
        </button>
      </form>
      <p class="text-center mt-3">Need an <a
        class="text-dark" href="{% url 'accounts:register' %}"><b>account?</b></a>
      </p>
      <hr />
      <a href="{% url 'home' %}" class="text-decoration-none mb-4 btn btn-block btn-outline-secondary">Back to Login</a>
    </div> <!--col-sm-6-->      
  </div> 
</div>

<style>

  label {
    visibility: hidden;
  }
  
  </style>

{% endblock %}
