{% extends "base.html" %}
{% block head_title %}Login | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}

{% block content %}




<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h1>Change Password</h1>
    <form method="POST" action="{% url 'accounts:password_change' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form layout="inline" %}
      {% buttons %}
      <button type=submit class="btn btn-default">
        <!-- {% bootstrap_icon "user" %} -->
        SUBMIT
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>
</div>
{% endblock %}
