{% extends "base.html" %}
{% block head_title %}Password Reset | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center align-items-center">
    <div class="mt-4 col-6 bg-white border">
        <h1 class="text-center mt-4 mb-4">Password Reset Complete</h1>
        <p class="text-center">
          Your password has been set. You may go ahead and <a href="{% url 'home' %}">sign in</a> now.
        </p>
    </div> <!--col-sm-6-->
  </div> <!--/.row-->
</div>

{% endblock %}
