<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-white">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
            <a class="nav-link {% if nav == 'home' %}active{% endif %}" href="{% url 'reviews:reviews' %}">
                <i class="fas fa-home fa-2x"></i>
            </a>
        </li>    
        <li class="nav-item">
            <a class="nav-link {% if nav == 'strains' %}active{% endif %}" href="{% url 'reviews:strains' %}">
                <i class="fas fa-cannabis fa-2x"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/reviews/reviews-search/' %}active{% endif %}" href="{% url 'reviews:reviews_search' %}">
                <i class="fas fa-search fa-2x"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if nav == 'actions' %}active{% endif %}" href="{% url 'accounts:actions' %}">
                <i class="far fa-heart fa-2x"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if nav == 'profile' %}active{% endif %}" href="{% url 'accounts:user' request.user %}">
                {% if request.user.profile.photo %}
                <img style="height: 2rem; width: 2rem;" class="rounded-circle {% if nav == 'profile' %}p-1 border border-dark{% endif %}" src="{{ request.user.profile.photo.url }}" />
                {% else %}
                <i class="far fa-user-circle fa-2x"></i>
                {% endif %}
            </a>
        </li>
    </ul>
</nav>

<script>

</script>


<style>
    .navbar {
        margin-bottom: 0px !important;
    }
    .navbar-nav {
        flex-direction: row;
    }
</style>