<form class="form-inline" id="search-input" method="get" action="/search/" role="form">
    <div class="form-row align-items-center">
        <label class="sr-only" for="q">Search</label>
        <div class="input-group">
            <input 
                name="q" 
                id="q" 
                autocomplete="on"
                class="form-control sm-2" 
                type="search" 
                placeholder="Afgoo" 
                aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-secondary border border-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>