<form class="form-inline" id="search-input" method="get" action="/search/" role="form">
    <div class="form-row align-items-center">
        <label class="sr-only" for="q">Search</label>
            <div class="input-group">
                <input 
                    name="q" 
                    id="q" 
                    autocomplete="on"
                    class="form-control sm-2 border border-right-0" 
                    type="search" 
                    placeholder="Search" 
                    aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-white border border-left-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
        </div>
        
    </div>
</form>