{% if strain.get_average_rating %}
<ul style="font-weight: 600;" class="list-group list-group-horizontal">
    <li class="list-group-item border-0 bg-light m-1 mt-n1 p-0">
        <span style="color: #23CE6B;">{{ strain.get_average_rating }}</span>
    </li>
    <li class="list-group-item border-0 bg-light m-1 mt-n2 p-0"></li>
    <li class="list-group-item border-0 bg-light m-1 mt-n1 p-0"> 
        <a style="color: #23CE6B; text-decoration: underline;" href="{% url 'reviews:strain_reviews' strain.id %}">
        ({{ strain.user_review.all.count }})
        </a>
    </li>
  </ul>
  {% else %}
  <p style="font-weight: 600;">Be the <a style="color: #23CE6B; text-decoration: underline;" href="{% url 'reviews:strain_review' strain.id %}">first to review</a> {{ strain }}.</p>
  {% endif %}

  