{% load rating_icon %}
<a style="text-decoration: none;" class="text-dark" href="{{ strain.get_absolute_url }}">
  {% include 'partials/strains/strain_detail_photo.html' %}
  <div class="card mb-4 shadow-sm" style="border: 0;">
    <div class="card-body">
      <h4 class="card-title text-left">{{ strain }}</h4>
      {% load rating_icon %}
      {% if rating > 0 %}
      <span class="d-block text-left mt-n2">
        {% with count=strain.user_review.all.count %}
        {% if count > 0 %}
        <h5>{{ rating|rating_icon }} ({{ count }})</h5>
        {% endif %}
        {% endwith %}
      </span>
      {% else %}
      <p style="font-weight: 600;" class="text-left mb-0">Be the first to <a style="color: #6EB257; text-decoration: none;" href="{% url 'reviews:strain_review' strain.id %}">review</a></p>
      {% endif %}
    </div>
  </div>
</a>



