{% with total_likes=strain.users_like.count users_like=strain.users_like.all %}

<div class="card">
    <div class="card-body">
      <span style="font-size: 1.1rem;" class="float-right">
           <!-- <i class="text-success fas fa-heart"></i> {{ total_likes }} Like{{ total_likes|pluralize }}</span> -->
      </span>
      <h2 class="mt-2 text-left">{{ strain }}</h2>
      {% if total_likes %}
      {% endif %}
      {% include "partials/strains/strain_card_rating.html" %}
    </div>
  </div>

  {% endwith %}