<span style="height: 42px; width: 42px; position: relative;" class="mb-2 float-right rounded-circle shadow-lg">
    <a href="{% url 'reviews:strain_like' %}" data-id="{{ strain.id }}" 
      style="height: 42px; width: 42px; color: #6eb257; position: absolute; top: 0.5rem; left: 0.7rem; font-size: 1.2rem;"
      data-action="{% if request.user in users_like %}un{% endif %}like"
      class="float-right rounded-circle strain-like">
        <i style="" class="strain-like {% if request.user in users_like %}
        fas fa-heart{% else %}far fa-heart{% endif %}">
        </i> 
    </a>
</span>