{% include 'partials/nav_header.html' %}
<ul style="font-weight: 600;" class="list-group list-group-horizontal">
    <li class="list-group-item border-0 bg-light m-1 mt-n1 p-0">
        <span style="color: #058C42;">{{ strain.get_average_rating }}</span>
    </li>
    <li class="list-group-item border-0 bg-light m-1 my-rating mt-n2 p-0"></li>
    <li class="list-group-item border-0 bg-light m-1 mt-n1 p-0"> 
        <a style="color: #058C42;" href="{% url 'reviews:strain_reviews' strain.id %}">
        ({{ strain.user_review.all.count }})
        </a>
    </li>
  </ul>