{% extends "base.html" %}
{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4">
      <h5 class="text-center">
        {{ user.username }} 
        {% if request.user.profile.id == user.profile.id %}
        <a href="{% url 'accounts:update' %}" class="shadow badge badge-light badge-pill rounded-circle border border-dark p-2">
          <i class="fas fa-cog"></i>
        </a>
        {% endif %}
      </h5>
      {% if user.profile.photo %}
     
      <img class="rounded-circle thumbnail img-fluid mx-auto d-block" alt="Responsive image" src="{{ user.profile.photo.url }}" style="height: 160px; width: 160px;"/>
      {% else %}
      <img class="rounded-circle thumbnail img-fluid mx-auto d-block" src="http://placehold.it/250x250" style="height: 160px; width: 160px;"/>
      {% endif %}
      <h4 class="mt-3 text-left">
        {{ user.first_name }} {{ user.last_name }}
      </h4>
      <p class="text-left">{{ user.profile.bio }}</p>
      

      {% with total_followers=user.followers.count %}
      {% with total_following=user.following.count %}

      {% if request.user.profile.id != user.profile.id %}
      <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow w-80 mb-4 mt-3 mx-auto btn btn-block btn-info">
        {% if request.user not in user.followers.all %}
          Follow
        {% else %}
          Unfollow
        {% endif %}
      </a>
      {% endif %}
    </div>

    <div class="col-sm-5 mb-4">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><h6><a class="text-decoration-none" href="">Reviews {{ review_numbers }}</a></h6></li>
        <li class="list-group-item"><h6><a class="text-decoration-none" href="">Followers {{ total_followers }}</a></h6></li>
        <li class="list-group-item"><h6><a class="text-decoration-none" href="">Following {{ total_following }}</a></h6></li>
      </ul>
    </div>
  </div> <!--/.row-->

  {% if review_list %}  
  <hr />
  <h5 class="text-left">Reviews</h5>
  {% endif %}
  <div class="row mt-4">

      {% for review in review_list %}
      <div class="col-6 col-sm-4">
        <div class="card mb-4">
           <a href="{% url 'reviews:detail' review.id %}">
            {% if review.photo_url %}
            <img class="card-img-top" src="{{ review.photo_url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
            {% endif %}
          </a>
          <div class="card-body">
            <h5 class="card-text text-center">
              <a href="{% url 'reviews:strain' review.strain.id %}">{{ review.strain }}</a> {% if review.method == 'FLOWER'%}  <i class="text-success fas fa-cannabis"></i> {% elif review.method == 'EXTRACT'%} <i class="text-warning fas fa-tint"></i> {% else %} <i class="text-info fas fa-cookie-bite"></i>{% endif %}
            • {{ review.rating }} <i class="text-warning fas fa-star"></i>
            </h5> 
<!-- 
            <h5 class="card-title text-left">
              <a href="{{ review.get_absolute_url }}">{{ review }}</a>
            </h5> -->
            <!-- {% if total_reviews %}
            <p class="card-text text-center"><span class="badge badge-dark">{{ total_reviews }} review{{ total_reviews|pluralize }}</span></p>
      
            {% else %}
            <p class="card-text text-center"><span class="badge badge-success">No Reviews</span></p> -->
      
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

  </div>


</div> <!--/.container-->

{% endwith %}
{% endwith %}

{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "accounts:user_follow" %}',
    {
      id: $(this).data('id'),
      action: $(this).data('action')
    },
    function(data){
      if (data['status'] == 'ok') {
        var previous_action = $('a.follow').data('action');

        $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
        $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

        var previous_followers = parseInt(
          $('span.count .total').text());
        $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers -1);
      }
    }
    );
  });
{% endblock %}
