{% load rating_icon %}

{% if review_list %}  
<hr />
<h5 class="text-left">Reviews</h5>
{% endif %}
<div class="row">
    {% for review in review_list %}
    <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" 
    class="tab-pane fade show active">
        <div class="col-sm-8 mt-4">
            <div class="media">
                <a href="{% url 'reviews:detail' review.id %}">
                    {% if review.photo.url %}
                    <img style="height: 53px; width: 53px;" class="mr-3" src="{{ review.photo.url }}" alt="Card image cap">
                    {% else %}
                    <img style="height: 53px; width: 53px;" class="mr-3" src="https://via.placeholder.com/250" alt="Card image cap">
                    {% endif %}
                </a>
                <div class="media-body">
                    <h5 class="d-inline ml-1">
                        <a href="{% url 'reviews:detail' review.id%}">
                            {{ review.strain }}
                        </a>
                    </h5>
                    <span class="float-left">{% include "partials/strain_review_method_icon.html" %}</span>

                    <p>{{ review.content }}</p>
                </div> <!--/.media-body-->
            </div> <!--/.media-->
        </div> <!--/.col-sm-8-->
    </div>
    {% endfor %}
</div> <!--/.row-->

