{% extends "base.html" %}
{% block head_title %}Update Profile | {{ block.super }}{% endblock head_title %}
{% load crispy_forms_tags %} 


{% block content %}
<div class="container">
  <div class="h-100 mt-4 row justify-content-center align-items-center">
    <div class="col-sm-6">
      <h5>Update Profile</h5>
      {% if request.user.profile.id == user.profile.id %}
      <b>
        <a href="{% url 'accounts:password_change' %}">
          Change Password <i class="fas fa-lock"></i>
        </a>
      </b>
      {% endif %}
      <form method="POST" action="" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <button type=submit class="btn btn-block btn-info">
           Update
        </button>
      </form>
    </div>      
  </div>
</div>

{% endblock %}
