{% if review_list %}  
<hr />
<h5 class="text-left">Reviews</h5>
{% endif %}
<div class="row">
    {% for review in review_list %}
    <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" 
    class="col-6 col-sm-4 tab-pane fade show active">
        <div class="card mb-4">
        <a href="{% url 'reviews:detail' review.id %}">
        {% if review.photo_url %}
        <img class="card-img-top" src="{{ review.photo_url }}" alt="Card image cap">
        {% else %}
        <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
        {% endif %}
        </a>
            <div class="card-body">
            <h5 class="card-text text-center">
            <a href="{% url 'reviews:strain' review.strain.id %}">{{ review.strain }}</a> {% if review.method == 'FLOWER'%}  <i class="text-success fas fa-cannabis"></i> {% elif review.method == 'EXTRACT'%} <i class="text-warning fas fa-tint"></i> {% else %} <i class="text-info fas fa-cookie-bite"></i>{% endif %}
            • {{ review.rating }} <i class="text-warning fas fa-star"></i>
            </h5>
            </div>
        </div>
    </div> <!--/.col-6.col-sm-4-->
    {% endfor %}
</div> <!--/.row-->
