{% extends "base.html" %}
{% block head_title %} Latest Reviews | {{ block.super }}{% endblock head_title %}


{% block content %}
<h3>Latest Reviews</h3>
<div class="row">
  <div class="col-sm-12 col-lg-12">
      {% for review in reviews %}
    <div class="thumbnail image-left">
      {% if review.photo %}
      <img class="img-responsive img-circle" src="{{ review.photo.url }}">
      {% endif %}
      <div class="caption">
        <h3><a href="{{ review.get_absolute_url }}">{{ review.title|upper}}</a></h3>
      <hr/>
        <h3>{{ review.content|linebreaks|truncatechars:95}}</h3>
      </br>
        <h3>Updated {{ review.updated }}</h3>
      </br>
        <h3>Reviewed by {{ review.user.username }}</h3>
      </div> <!--/.caption-->
    </div> <!--/.thumbnail image-left-->
    {% endfor %}
  </div> <!--/.col-sm-12-->
</div>

{% endblock %}
