{% extends "base.html" %}
{% block head_title %}{{ review.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
{% with total_likes=review.users_like.count users_like=review.users_like.all %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>{{ review.title }}</h1>
    <h3>{{ review.strain }}</h3>
    <h3>{{ review.method }}</h3>
    <p>{{ review.content }}</p>
    <p>Reviewd by <a href="{% url 'accounts:user' review.user.username %}">{{ review.user }}</a></p>
    <p>{{ review.updated }}</p>
    <span class="count">
      <span class="total">{{ total_likes }}</span>
      like{{ total_likes|pluralize }}
    </span>
    <a href="#" data-id="{{ review.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
      {% if request.user not in users_like %}
        Like
      {% else %}
        Unlike
      {% endif %}
    </a>
  </div>
  <div class="col-xs-12 col-md-6">
    {% if review.photo %}
    <img class="img-responsive img-rounded" src="{{ review.photo.url }}"/>
    {% else %}
    <img class="img-responsive img-rounded" src="https://www.placehold.it/500x500"/>
    {% endif %}
  </div>
</div>
{% endwith %}
{% endblock %}

 {% block domready %}
      $('a.like').click(function(e){
       e.preventDefault();
       $.post('{% url "reviews:like" %}',
         {
           id: $(this).data('id'),
           action: $(this).data('action')
         },
         function(data){
           if (data['status'] == 'ok')
           {
             var previous_action = $('a.like').data('action');
             // toggle data-action
             $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

// toggle link text
$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');




             // update total likes
var previous_likes = parseInt($('span.count .total').text());
$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
}

});
});
   {% endblock %}
