{% extends "base.html" %}
{% block head_title %} Latest Reviews | {{ block.super }}{% endblock head_title %}

{% load bootstrap3 %}

{% block content %}
<h1>Latest Reviews</h1>
<div class="row reviews">
  <div class="well col-sm-12 col-lg-12">
      {% for review in reviews %}
    <div class="thumbnail image-left">
      {% if review.photo %}
      <img class="img-responsive img-circle review" src="{{ review.photo.url }}">
      {% else %}
      <img class="img-responsive img-circle" src="https://www.placehold.it/300x300">
      {% endif %}
      <div class="caption">
        <h3><a href="{{ review.get_absolute_url }}">{{ review.title|upper}}</a></h3>
        <br/>
        <h3>
          <a href="{{ review.strain.get_absolute_url }}">{{ review.strain }}</a>
          {% if review.method == 'FLOWER'%}
          <span class="glyphicon glyphicon-leaf"></span>
          {% elif review.method == 'EXTRACT' %}
          <span class="glyphicon glyphicon-tint"></span>
          {% else %}
          <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
          {% endif %}
        </h3>
      <hr/>
        <h3>{{ review.content|linebreaks|truncatechars:95}}</h3>
      </br>
        <img class="img-responsive img-circle profile" src="{{ review.user.profile.photo.url }}">
        <h4>Reviewed by <a href="{% url 'accounts:user' review.user.username %}">{{ review.user.username }}</a></h4>
        <p class="text-left">Updated {{ review.updated }}</p>
        <span>{% bootstrap_icon "heart" %} {{ review.users_like.count }}</span>
      </div> <!--/.caption-->
    </div> <!--/.thumbnail image-left-->
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if reviews.has_previous %}
          <a href="?page={{ reviews.previous_page_number }}">previous</a>
        {% endif %}
      <span class="current">
          Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
      </span>
        {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div> <!--./pagination-->
  </div> <!--/.col-sm-12-->
</div> <!--/.row reviews-->

{% endblock %}
