{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="well col-sm-12 col-lg-6">
    <div class="thumbnail">
      {% load static %}
      {% if strain.photo %}
      <img class="img-responsive" src="{{ strain.get_strain_image }}">
      {% endif %}
      <!-- <img class="img-responsive" src="{{ strain.get_strain_image }}"> -->

    </div>
    <h1>{{ strain.name }}</h1>
    <p>{{ strain.summary }}</h1>
      <h1>Lineage</h1>
      <h1>Flavors</h1>
      <h1>Seed Co.</h1>
      <h1>Type</h1>
      {% buttons %}
      <a href="{% url 'reviews:review' strain.id %}">
        <button class="btn btn-default">
          {% bootstrap_icon "star" %} Review
        </button>
      </a>
      {% endbuttons %}
  </div>
</div>
{% endblock %}
