{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="well col-xs-12 col-lg-6">
    <div class="thumbnail">
      {% if strain.photo_url%}
      <img class="img-responsive strain-photo" src="{{ strain.photo_url }}">
      {% else %}
      <image class="img-responsive strain-photo" src="{{ strain.get_strain_image }}">
      {% endif %}
    </div>
    <h1>{{ strain.name }}</h1>
    <p>Rating: {{ strain.get_average_rating }}</p>
    {% buttons %}
    <a href="{% url 'reviews:review' strain.id %}">
      <button class="btn btn-default">
        {% bootstrap_icon "pencil" %} Review
      </button>
    </a>
    {% endbuttons %}

    <h3>Summary</h3>
    <p>From <a href="https://www.leafly.com">Leafly.com</a>--{{ strain.summary }}</p>
    {% if countries %}
    <h3>Lineage</h3>
      {% for country, value in countries.items %}
      <img class="flag" src="http://www.geognos.com/api/en/countries/flag/{{ value }}.png">
      {{ country }}
      {% endfor %}
    {% else %}
      {{ strain.get_strain_lineage }}
    {% endif %}
    {% if reviews %}
    <h3>Reviews</h3>
      {% for review in reviews %}
    <a href="{{ review.get_absolute_url }}"><p>{{ review.title }}</p></a>
      {% endfor %}
    {% endif %}
  </div> <!--/.well col-sm-12 col-lg-6-->
</div> <!--/.row-->
{% endblock %}
