{% extends "base.html" %}
{% block head_title %} Strains | {{ block.super }}{% endblock head_title %}


{% block content %}

<div class="row">
  <h1>Strains</h1>
  <div class="col-xs-12 col-md-12">
    {% for strain in strains %}
    {% with total_reviews=strain.user_review.count %}

    {% load static %}
    <div class="strain thumbnail">
      {% if strain.photo_url %}
      <image class="img-responsive img-circle strain" src="{{ strain.photo_url }}">
      {% else %}
      <image class="img-responsive img-circle strain" src="{{ strain.get_strain_image }}">
      {% endif %}
      <div class="caption">
        <h4 class="text-left"><a href="{{ strain.get_absolute_url }}">{{ strain.name|upper }}</a></h4>
        <span>
          <span>{{ total_reviews }}</span>review{{ total_reviews|pluralize }}
        </span>
      </div> <!--/.caption-->
    </div> <!--/.strain thumbnail-->
    {% endwith %}
    {% endfor %}
  </div> <!--/.col-xs-12 col-md-12-->
</div> <!--/.row-->
{% endblock %}
