{% extends "base.html" %}
{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Profile</h1>
    <h3> {{ user.username }}</h3>
    <h3> {{ user.profile.location }}</h3>
    <h3> {{ user.profile.bio }}</h3>
  </div>
  <div class="col-sm-6">
    {% if user.profile.photo %}
    <img class="img-responsive" src="{{ user.profile.photo.url }}"/>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {% if review_list %}
    <h4>My Reviews</h4>
      {% for review in review_list %}
    <h3>{{ review.title }}</h3>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
