{% extends "base.html" %}
{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  {% if request.user.profile.id == user.profile.id %}
  <h1>Profile<a href="{% url 'accounts:update' %}">  {% bootstrap_icon "pencil" %}</a></h1>
  {% endif %}
  <div class="col-xs-12 col-md-4">
    {% if user.profile.photo %}
      <img class="img-responsive img-rounded" src="{{ user.profile.photo.url }}"/>
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-4">
    <h3> USERNAME {{ user.username }}</h3>
    <h3> LOCATION {{ user.profile.location }}</h3>
    <h3> BIO {{ user.profile.bio }}</h3>
  </div>
  <div class="well col-xs-12 col-md-4">
    {% if review_list %}
    <h4>My Reviews ({{ review_numbers }})</h4>
      {% for review in review_list %}
    <h3><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></h3>
      {% endfor %}
    {% endif %}
  </div> <!--/.well.col-xs-12.col-md-4-->
</div> <!--/.row-->



{% endblock %}
