{% extends "base.html" %}
{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <h1 class="username-header">
    @{{ user.username }}'s Profile
    {% if request.user.profile.id == user.profile.id %}
      <a href="{% url 'accounts:update' %}">{% bootstrap_icon "edit" %}</a>
    {% endif %}
  </h1>
  <!-- <p>Joined on {{ user.date_joined }}</p> -->
  <hr/>
  <div class="well col-xs-12 col-md-4">
    {% if user.profile.photo %}
      <img class="img-responsive img-circle" src="{{ user.profile.photo.url }}"/>
    {% else %}
      <img class="img-responsive img-circle" src="http://placehold.it/300x300"/>
    {% endif %}
    <h3> {% bootstrap_icon "user" %} {{ user.first_name }} {{ user.last_name }}</h3>
    <h3> {% bootstrap_icon "envelope" %} {{ user.email }}</h3>
    <h3> {% bootstrap_icon "globe" %} {{ user.profile.location }}</h3>
    <h3> {% bootstrap_icon "calendar" %} {{ user.profile.birthdate }}</h3>
    {% with total_followers=user.followers.count %}
    <span class="count">
      <span class="total">{{ total_followers }}</span> Follower{{ total_followers|pluralize }}
    </span>
    {% if request.user.profile.id != user.profile.id %}
     <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
      {% if request.user not in user.followers.all %}
        Follow
      {% else %}
        Unfollow
      {% endif %}
    </a>
    {% endif %}
  </div> <!--/.well col-xs-12 col-md-4-->
  <div class="col-xs-12 col-md-8">
    <h3 class="text-center"> {{ user.profile.bio }}</h3>
  </div> <!--/.col-xs-12 col-md-8-->
</div> <!--/.row-->
<div class="row my-reviews">
  <h4>My Reviews ({{ review_numbers }})</h4>
    {% if review_list %}
      {% for review in review_list %}
    <div class="col-xs-12 col-md-12 profile">
      <div class="thumbnail image-left">
      {% if review.photo %}
        <img class="img-responsive img-rounded profile" src="{{ review.photo.url }}">
      {% endif %}
        <div class="caption">
          <h3><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></h3>
        </div> <!--/.caption-->
      </div> <!--/.thumbnail-image-left-->
    </div> <!--/.col-xs-12 col-md-12 profile-->
    {% endfor %}
    {% endif %}
</div> <!--/.row-->
<div class="row my-followers">
  <h4>My Followers ({{ total_followers }})</h4>
  {% if followers %}
    {% for follower in followers %}
  <div class="col-xs-12 col-md-12 profile">
    <div class="thumbnail image-left">
      {% if follower.profile.photo %}
        <img class="img-responsive img-rounded profile" src="{{ follower.profile.photo.url }}">
      {% endif %}
      <div class="caption">
        <h4><a href="{% url 'accounts:user' follower.username %}">@{{ follower.username }}</a></h4>
      </div> <!--/.caption-->
    </div> <!--/.thumbnail-image-left-->
  </div> <!--/.col-xs-12 col-md-12 profile-->
      {% endfor %}
    {% endif %}
</row> <!--/.row my-followers-->


{% endwith %}
{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "accounts:user_follow" %}',
    {
      id: $(this).data('id'),
      action: $(this).data('action')
    },
    function(data){
      if (data['status'] == 'ok') {
        var previous_action = $('a.follow').data('action');

        $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
        $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

        var previous_followers = parseInt(
          $('span.count .total').text());
        $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers -1);
      }
    }
    );
  });
{% endblock %}
