{% extends "base.html" %}
{% block head_title %}Update Profile | {{ block.super }}{% endblock head_title %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Update Profile</h1>
    <form method="POST" action="" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {% bootstrap_form profile_form layout="inline" %}
      {% bootstrap_form user_form layout="inline" %}
      {% buttons %}
      <button type=submit class="btn btn-default">
        {% bootstrap_icon "star" %} Update
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
