{% extends "base.html" %}
{% block head_title %} Active Users | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>Active Users</h1>
<div class="row">
  {% for user in users %}
  <div class="user-list col-md-4 col-xs-12">
    {% if user.profile.photo %}
    <a href="{% url 'accounts:user' user.username %}">
      <img src="{{ user.profile.photo.url }}" class="user-list-element img-responsive img-circle">
    </a>
    {% else %}
    <a href="{% url 'accounts:user' user.username %}">
      <img src="http://placehold.it/300x300" class="user-list-element img-responsive img-circle">
    </a>
    {% endif %}
    <a class="username-link" href="{% url 'accounts:user' user.username %}">
      <h3>@{{ user.username }}</h3>
    </a>
  </div>
  {% endfor %}
</row>
{% endblock %}
