{% load rating_icon %}

<div id="mcontainer" class="row mt-4">
    <div class="col-12">
      <h5 class="mt-5 d-inline font-weight-bold">
        {{ strain }} reviews <span style="color: #23CE6B; font-size: 1rem; text-decoration: underline;">({{ reviews.count }})</span>
      </h5>
      <!-- create review button -->
      {% include 'partials/reviews/review_button.html' %}
    </div>  <!-- .col-12 -->
    {% if reviews %}
    <!-- iteratre through related reviews -->
    {% for review in reviews|slice:":10" %}
    {% include 'partials/reviews/review_user_review.html' %}
    {% endfor %}
</div> <!-- .row.mt-4 -->
{% endif %}

  

