<div class="card-header bg-white">

  <a class="float-right mt-1 text-dark" data-toggle="modal" data-target="#exampleModal1" href="#">
    <i class="fas fa-ellipsis-h"></i>
  </a>

  <a href="{% url 'accounts:user' review.user %}" class="text-decoration-none">
    <img style="height: 2rem; width: 2rem;" class="ml-n2 rounded-circle" 
    src="{% if review.user.profile.photo %}{{ review.user.profile.photo.url }}{% else %}http://placehold.it/250x250{% endif %}"/>
    <span style="font-weight: 600; position: absolute; top: 10px;" class="ml-2 text-dark mb-2">{{ review.user }}</span>
  </a>
  <span style="font-size: 0.8rem; position: absolute; top: 28px; left: 52px;" class="text-dark">{{ review.strain }}</span>
</div>