{% load rating_icon %}
<div class="card-body">
    <h5 class="card-title text-dark font-weight-bold">{{ review.strain }}</h5>
    <span class="d-block text-left mt-n2">{{ review.rating|rating_icon }}</span>
    <p class="mt-1 card-text">
        <span class="mr-1 font-weight-bold">
            {{ review.user }}
        </span>
        <span class="less">
            {{ review.content|slice:"60" }}<span style="display: inline;" class="dots" data-id="{{ review.id }}">...</span>
        </span>
        <span class="more" style="display: none;">{{ review.content }}</span>
        <a href="#" style="color: #6c757d;" class="show-link">more</a>
    </p>
    {% include 'partials/reviews/review_method_badge.html' %}
    <p class="text-muted mt-2">Posted {{ review.timestamp|timesince }} ago.</p>
</div>