<a style="{% if request.user in users_like %}margin-right: 1rem; text-decoration: none !important; font-size: 1.4rem;{% else %}margin-right: 1rem; text-decoration: none !important; color: #6c757d !important; font-size: 1.4rem;{% endif %}"
    class="review-like"
    data-id="{{ review.id }}"
    data-action="{% if request.user in users_like %}un{% endif %}like"
    href="{% url 'reviews:review_like' %}">
    <i class="mt-1 {% if request.user in users_like %}
    fas fa-heart emerald {% else %}far fa-heart{% endif %}"></i> 
</a>