{% load rating_icon %}

<div class="media">
    <div class="media-body">
      <h6 style="color: #212529; font-weight: 600; margin-bottom: -0.1rem;" class="mt-1 ml-1">
        {{ review.user }}
      </h6>
      <span>{{ review.rating|rating_icon }} • {% include "partials/reviews/review_method_badge.html" %}</span>
      <hr/>
        <p>
          <span class="less" style="display: inline;" data-id="{{ review.id }}">
            {{ review.content|slice:"200" }}
            {% if review.content|length > 200 %}
            <span style="display: inline;" class="dots" data-id="{{ review.id }}">...</span>
            {% endif %}
          </span>
          <span style="display: none;" class="more" data-id="{{ review.id }}">{{ review.content }}</span>
          {% if review.content|length > 200 %}
          <a class="show-link" 
          style="color: #23CE6B; font-weight: 600; text-decoration: underline;"
          data-id="{{ review.id }}" 
          href="#">Read More</a>
          {% endif %}
        </p>
        <p class="text-secondary">{{ review.timestamp|timesince }} ago</p>
    </div> <!-- .media-body -->
</div> <!-- .media -->