<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <a id="copyLink" href="{{ review.get_absolute_url }}" 
            style="text-align: center; font-weight: 600; text-decoration: none;" 
            class="d-block text-secondary">Copy Link</a>
        </div>
      </div>
    </div>
  </div>