<div class="modal fade text-muted" id="profileSettingsModal" tabindex="-1" role="dialog" aria-labelledby="profileSettingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item border border-0">
              <a class="text-dark" href="{% url 'accounts:password_change' %}">
                <i class="fas fa-key mr-3"></i>Change Password</li>
              </a>
            <li class="list-group-item border border-0">
              <a class="text-dark" href="{% url 'accounts:logout' %}">
                <i class="fas fa-sign-out-alt mr-3"></i>Logout</li>
              </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
