{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% load split_lists %}
{% block content %}

{% include 'partials/nav_header.html' %}
{% include "messages_display.html" %}
{% load static %}
{% load rating_icon %}

<section id="strain-detail" class="strain-detail">
  <div class="container pt-5">
    <div class="row">
      <!-- strain name -->
      <div class="col-12 col-md-6 mb-4 mt-5 mx-auto">

        <h1 style="font-weight: 800;" class="strain-name text-left">{{ strain }}</h1>
        <!-- <h1 class="d-block d-sm-none strain-name text-left">{{ strain }}</h1> -->
        <hr/>
        <!-- strain photo -->
        <div class="card">
          {% if strain.image %}
          {% with users_like=strain.users_like.all %}
          {% include 'partials/strains/strain_like_button.html' %}
          {% endwith %}
          <img class="card-img-top" src="{{ strain.image }}" />
          {% else %}
          <img class="card-img-top" src="{% static 'Unknown.png' %}" />
          {% endif %}
        </div>
      </div> <!--/.col-md-6-->
    </div> <!--/.row-->
      <!-- strain reviews -->
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <ul class="list-group list-group-horizontal">
          {% with rating=strain.get_average_rating %}
          {% if rating %}
          <li class="list-group-item border-0 m-1 mt-n1 p-0 text-dark">
              <span>{{ rating }}</span>
          </li>
          {% endif %}
          <li class="list-group-item border-0 m-1 mt-n1 p-0">
            {% if rating %}
            {{ rating|rating_icon }}
            {% else %}
            <p>Be the first to  <a class="emerald bold-link-underline" href="{% url 'reviews:strain_review' strain.id %}">review</a> {{ strain }}.</p>
            {% endif %}
          </li>
          {% endwith %}
          {% with count=strain.user_review.all.count %}
          {% if count > 0 %}
          <li class="list-group-item border-0 m-1 mt-n1 p-0 text-dark">
            <span>({{ count }})</span>
          </li>
          {% endif %}
          {% endwith %}
        </ul>

        <hr/>
        <h5 class="mt-2 text-left">Lineage</h5>
        {% if lineage %}
        <ul class="list-group list-group-horizontal">
          {% for country, value in lineage.items %}
          <li class="mr-auto list-group-item p-0">
            <img style="height: 2rem; width: 3rem;" class="border border-dark" src="http://www.geognos.com/api/en/countries/flag/{{ value }}.png">
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div> <!--/.col-md-6-->
    </div> <!--/.row-->
  <!-- strain summary from leafly.com -->
  {% if strain.summary %}
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <hr/>
        <h2 class="mt-2 text-left">Summary</h2>
        <p class="text-left">
        {{ strain.summary }}
        </p>
        <hr/>
      </div>
    </div>
    {% endif %}


    <!--strain genetics-->
      {% if genetics %}
      <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <h2 class="mt-2 text-left">Genetics</h2>
            <p class="text-left">{{ genetics.names }}</p>
            <hr/>
        </div>
      </div>
      {% endif %}

      <!--strain user reviews-->
      {% if strain.user_review.all|length > 0 %}
      <div class="row">
        <div class="col-md-6 col-12 mb-3 mx-auto">
            <h2 class="d-inline">Photos of {{ strain }}</h2>
            <div style="overflow-x: auto; overflow-y: hidden;" class="d-flex flex-row flex-nowrap mt-3">
                {% for review in reviews|slice:4 %}
                {% if review.photo %}
                <div class="col-md">
                    <div
                        class="card mb-4"
                        style="width: 235px; height: 235px;">
                        <img
                            class="card-img-top"
                            style="object-fit: cover; width: 235px; height: 235px;"
                            src="{{ review.photo.url }}"
                            alt="Card image cap">
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
        </div>
      </div>
      {% endif %}

    {% load rating_icon %}
    <div id="userReviewContainer" class="row mt-4">
        <!--review-button-->
        <div class="col-12 col-md-6 mb-5 mx-auto">
          <a class="strain-review-btn mx-auto mt-3 mb-5 btn btn-block shadow rounded w-75"
            href="{% url 'reviews:strain_review' strain.id %}">
            write a review
          </a>
          {% if reviews %}
          <h2 class="mb-n4">
            {{ strain }} reviews <span style="color: #6eb257; font-size: 1rem; text-decoration: underline;">({{ reviews.count }})</span>
          </h2>
          {% endif %}
        </div>  <!-- .col-12 -->
      </div> <!-- .row.mt-4 -->
      {% if reviews %}
      <div class="row">
        {% for review in reviews|slice:":10" %}
        {% include 'partials/reviews/review_user_review.html' %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

<style>
div.alert {
  margin-top: 50px;
}
</style>

{% endblock %}

{% block domready %}


document.getElementById('userReviewContainer').addEventListener('click', function(event){
const anchor = event.target;
console.log(anchor);
if (anchor.className === 'show-link') {
  event.preventDefault();
  const less = event.target.parentNode.firstElementChild;
  const dots = less.firstElementChild;
  const more = less.nextElementSibling;
  console.log(less)
  if (dots.style.display === 'inline') {
    less.style.display = 'none';
    dots.style.display = 'none';
    more.style.display = 'inline';
    anchor.innerHTML = 'Show Less';
  } else {
    anchor.innerHTML = 'Read More';
    less.style.display = 'inline';
    dots.style.display = 'inline';
    more.style.display = 'none';
  };
};
});



{% endblock %}
