{% extends "base.html" %}
{% block head_title %}Login | {{ block.super }}{% endblock head_title %}
{% load  crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row mt-4 justify-content-center align-items-center">
    <div class="mt-4 col-sm-5 bg-white border">
        <h1 class="text-center mt-4 mb-4">Password Change</h1>
        <form method="POST" action="" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          {{ form|crispy }}
          <button type=submit class="btn btn-block btn-primary mb-4">
             Submit
          </button>

        </form>
    </div> <!--col-sm-6-->
  </div> <!--/.row-->
</div>

{% endblock %}
