{% extends 'base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% block content %}

<div class="container">
  <form id="search-bar">
    <div class="row">
      <div class="col-md-6  col-md-offset-3">
        <div class="input-group">
          <input type="text" name="q" id="q" autocomplete="off" placeholder="SEARCH" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>

    <!-- <form id="search-bar" action="." method="get">
      <div class="row">
        <div class="col-md-6  col-md-offset-3">
    {% for field in form %}
        {% bootstrap_field field addon_after='<span class="glyphicon glyphicon-search"></span>' addon_after_class='input-group-btn' show_label=False placeholder="SEARCH" %}

    {% endfor %}

    </div>
  </div>
</form> -->

    {% if query %}
    <div class="row">
    <h3>Results</h3>
    {% for result in page.object_list %}
    <div class="well col-xs-12">
    <p>
      <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}
        {{ result.object.name }}</a>
    </p>
    <p>
      {{ result.object.content }}
    </p>
    <p>
      {{ result.object.user }}
    </p>
  </div> <!--/.col-xs-6-->
  <div class="col-xs-6">

  </div>
  {% empty %}
    <p>No results found.</p>
  {% endfor %}

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
  </div> <!--/.row-->
</div> <!--/.container-->


{% endblock %}
