{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border border-bottom-1 fixed-top">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      {% include "partials/search_input.html" %}
    </ul>
  </nav>
</div>


<div class="container">
  {% if query %}
    <div class="row mt-5">
      <div class="col-sm">
        {% for result in page.object_list %}
        <div class="media">
          {% if result.object.photo_url %}
          <img style="height: 53px; width: 53px;" class="mr-3" src="{{ result.object.photo_url }}" alt="Generic placeholder image">
          {% elif result.object.photo %}
          <img style="height: 53px; width: 53px;" class="mr-3" src="{{ result.object.photo.url }}" alt="Generic placeholder image">
          {% else %}
          <img src="http://via.placeholder.com/53x53" class="mr-3">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-0">
              <a class="text-decoration-none text-dark" href="{{ result.object.get_absolute_url }}">
                {{ result.object.title }}
                {{ result.object.name }}
              </a>
            </h5>
            {% load get_class %}
            {% if result.object|get_class == 'Review' %}
            <p style="font-size: 14px;" class="mt-n2 text-secondary">{{ result.object.strain }}</p>
            {% elif result.object|get_class == 'Strain' %}
            {% if result.object.genetics == None %}
            <p style="font-size: 14px;" class="mt-n2 text-secondary">No genetics data</p>
            {% else %}
            <p style="font-size: 14px;" class="mt-n2 text-secondary">{{ result.object.genetics }}</p>
            {% endif %}
            {% endif %}
            <span style="max-width: 75px;" class="d-block badge badge-pill bg-light text-muted border border-muted p-2">
              {% load get_class %}
              {% if result.object|get_class == 'Strain' %}
              Strain
              {% elif result.object|get_class == 'Review' %}
              Review
              {% endif %}
            </span>
          </div> <!--/.media-body-->
        </div> <!--/.media-->
      <hr/>
      {% empty %}
      <h5 class="text-left">No results found.</h5>
      {% endfor %}
    </div>

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
  </div> <!--/.row-->
</div> <!--/.container-->

<style>
  .sticky {
    position: -webkit-sticky;
  }
  .header-container {
    padding-bottom: 50px;
  }
  </style>


{% endblock %}
