{% extends "base.html" %}
{% block head_title %}{{ review.title }} | {{ block.super }}{% endblock head_title %}
{% load bootstrap3 %}
{% block content %}


{% with total_likes=review.users_like.count users_like=review.users_like.all %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        {% if review.photo.url %}
        <img class="card-img-top" src="{{ review.photo.url }}" alt="Card image cap">
        {% else %}
        <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
        {% endif %}
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}


 {% block domready %}
      $('a.like').click(function(e){
       e.preventDefault();
       $.post('{% url "reviews:like" %}',
         {
           id: $(this).data('id'),
           action: $(this).data('action')
         },
         function(data){
           if (data['status'] == 'ok')
           {
             var previous_action = $('a.like').data('action');
             // toggle data-action
             $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

// toggle link text
$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');




             // update total likes
var previous_likes = parseInt($('span.count .total').text());
$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
}

});
});
   {% endblock %}
