{% extends "base.html" %}
{% block head_title %}{{ strain.name }} Review | {{ block.super }}{% endblock head_title %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border border-bottom-1 fixed-top">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      {% include "partials/search_input.html" %}
    </ul>
  </nav>
</div>

<style>
  .sticky {
    position: -webkit-sticky;
  }
  .header-container {
    padding-bottom: 50px;
  }
  </style>

{% endblock %}