{% extends "base.html" %}
{% block head_title %} Latest Reviews | {{ block.super }}{% endblock head_title %}
{% block content %}

<div class="container header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border border-bottom-1 fixed-top">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item text-center">
        <a class="text-dark nav-link font-weight-bold" href="#">Canvas</a>
      </li>
    </ul> 
  </nav>
</div>

<div class="container">

  <div class="row justify-content-center align-items-center">
    <div id="review-list" class="col-sm-6">
        {% include "partials/reviews/review_card.html" %}
    </div>
  </div> <!--/.row-->
</div> <!--/.container-->

<style>
  .header-container {
    padding-bottom: 100px;
  }
</style>
{% endblock %}

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;
$(window).scroll(function() {
  var margin = $(document).height() - $(window).height() - 200;
  if  ($(window).scrollTop() > margin && empty_page == false && block_request == false){
    block_request = true;
    page += 1;
    $.get('?page=' + page, function(data) {

      console.log('hello');

      if(data == '') {
        empty_page = true;
      } else {
        block_request = false;
        $('#review-list').append(data);
      }
         });
       }
     });
{% endblock %}
