{% extends "base.html" %}
{% block head_title %} Strains | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="container">
  <h3 class="mt-5">Strains</h3>
  <div class="row">
    {% include "reviews/strain_list_ajax.html" %}  
  </div>
  {% include "partials/strains_pagination.html" %}
</div> <!--/.container-->

  
{% endblock %}



<!-- {% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;
$(window).scroll(function() {
  var margin = $(document).height() - $(window).height() - 200;
  if  ($(window).scrollTop() > margin && empty_page == false && block_request == false){
    block_request = true;
    page += 1;
    $.get('?page=' + page, function(data) {
    if(data == '') {
      empty_page = true;
    } else {
      block_request = false;
      $('#strain-list').append(data);
           }
         });
       }
     });
{% endblock %} -->
