{% load bootstrap3 %}
{% for strain in strains %}
{% with total_reviews=strain.user_review.count %}
<div class="strain thumbnail">
  {% if strain.photo_url %}
  <image class="img-responsive img-circle profile" src="{{ strain.photo_url }}">
  {% else %}
  <image class="img-responsive img-circle profile" src="{{ strain.get_strain_image }}">
  {% endif %}
  <div class="caption">
    <h4 class="text-center"><a href="{{ strain.get_absolute_url }}">{{ strain.name|upper }}</a></h4>
    <span>
      <span>{{ total_reviews }} </span>review{{ total_reviews|pluralize }}
    </span>
  </div> <!--/.caption-->
</div> <!--/.strain thumbnail-->
{% endwith %}
{% endfor %}
