{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a href="{% url 'reviews:strains'%}">Strains</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'reviews:strain_detail' strain.id %}">{{ strain }}</a></li>
  </ol>
</nav>

<div class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="card" style="position: relative !important;">
        {% if strain.photo_url %}
        <img class="card-img-top shadow" src="{{ strain.photo_url }}" alt="Card image cap">
        {% else %}
        <image class="card-img-top shadow" src="{{ strain.get_strain_image }}">
        {% endif %}
      </div> <!--/.card-->
    </div> <!--/.col-sm-6-->
    <div class="col-sm-6">
      {% include "partials/strains/strain_card.html" %}
      {% include "partials/strains/strain_detail_reviews.html" %}
    </div> <!--/.col-sm-6-->
  </div> <!--/.row-->

  {% include "partials/strains/strain_detail_social.html" %}

  <div class="row mt-4">
    {% include "partials/strains/strain_detail_lineage.html" %}
  </div>
</div>

{% endblock %}

{% block domready %}
  $('a.strain-like').click(function(e){
    e.preventDefault();
    console.log('hello');
    $.post('{% url "reviews:strain_like" %}',
  {
    id: $(this).data('id'),
    action: $(this).data('action')
  },
    function(data){
    if (data['status'] == 'ok')
  {
    var previous_action = $('a.strain-like').data('action');
    console.log(previous_action);
    // toggle data-action
    $('a.strain-like').data('action', previous_action == 'like' ? 'unlike' : 'like');

    // toggle heart icon
    $('a.strain-like').html(previous_action == 'like' ? `<i class="fas fa-heart"></i> Unlike` : `<i class="far fa-heart"></i> Like`);

    // update total likes
    var previous_likes = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
  }
    

  });
  });
  {% endblock %}
