{% extends "base.html" %}
{% block head_title %}{{ strain.name }} | {{ block.super }}{% endblock head_title %}
{% with total_likes=strain.users_like.count users_like=strain.users_like.all %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="card" style="position: relative !important;">
        {% if strain.photo_url %}
        <img class="card-img-top shadow" src="{{ strain.photo_url }}" alt="Card image cap">
        {% else %}
        <image class="card-img-top shadow" src="{{ strain.get_strain_image }}">
        {% endif %}
      </div> <!--/.card-->
      <a id="review-button" 
        href="{% url 'reviews:review' strain.id %}"
        role="button"
        class="shadow-lg rounded-circle btn btn-light">
          <i class="fas fa-pencil-alt fa-2x"></i>
      </a>
    </div> <!--/.col-sm-6-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          {% if strain.get_average_rating %}
          <span class="float-right"> {{ strain.get_average_rating }} <i class="fas fa-star"></i> • 
            <span class="badge badge-pill badge-info">
              {{ strain.user_review.all.count }}
            </span> review{{ strain.user_review.all|pluralize:"s" }}</span>
          {% else %}
          <span class="float-right badge badge-success">No ratings yet</span>
          {% endif %}
          <h4 class="card-title">{{ strain.name }}</h4>
          {% if total_likes %}
          <p class="text-secondary total">{{ total_likes }} 
            Like{{ total_likes|pluralize }}
          </p>
          {% endif %}
          <hr/>
          {% include "partials/strain_detail_genetics.html" %}
        </div>
      </div>
      {% include "partials/strain_detail_reviews.html" %}
    </div> <!--/.col-sm-6-->
  </div> <!--/.row-->

  {% include "partials/strain_detail_social.html" %}

  <div class="row mt-4">
    {% include "partials/strain_detail_lineage.html" %}
  </div>
</div>

{% endblock %}
{% endwith %}

{% block domready %}
  $('a.strain-like').click(function(e){
    e.preventDefault();
    console.log('hello');
    $.post('{% url "reviews:strain_like" %}',
  {
    id: $(this).data('id'),
    action: $(this).data('action')
  },
    function(data){
    if (data['status'] == 'ok')
  {
    var previous_action = $('a.strain-like').data('action');
    console.log(previous_action);
    // toggle data-action
    $('a.strain-like').data('action', previous_action == 'like' ? 'unlike' : 'like');

    // toggle heart class
    $('a.strain-like').html(previous_action == 'like' ? `<i class="fas fa-heart"></i> Unlike` : `<i class="far fa-heart"></i> Like`);

    // update total likes
    var previous_likes = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
  }
    

  });
  });
  {% endblock %}
