{% extends "base.html" %}
{% load rating_icon %}

{% block content %}
<div class="container header-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border border-bottom-1 fixed-top">
      <ul class="nav navbar-nav navbar-logo mx-auto">
        <li class="nav-item text-center">
          <a class="text-dark nav-link font-weight-bold" href="#">Activity</a>
        </li>
      </ul>
    </nav>
  </div>

<div class="container-fluid">
    {% for action in actions %}
    <div class="mt-4 mb-4 row">

        <div class="col-3">
            <a href="{% url 'accounts:user' action.user %}">
                {% if action.user.profile.photo %}
                <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="{{ action.user.profile.photo.url }}" alt="Card image cap">
                {% else %}
                <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="https://via.placeholder.com/250" alt="Card image cap">
                {% endif %}
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'accounts:user' action.user %}">
                {{ action.user }}
            </a>
            {{ action.verb }}
    
            {% if action.target %}
            {% with target=action.target %}
        </br>
            {% if target.profile %}
            <a class="" href="{% url 'accounts:user' target.username %}">
                {{ target }}
            </a>        
            {% else %}
            <a href="{{ target.get_absolute_url }}">
                {{ target }}
            </a>
        
        </div>
        <div class="col-3">
          {% if target.cname == Strain %}
          <img style="height: 53px; width: 53px;" class="mr-3 rounded-circle" src="{{ target.photo_url }}" alt="Card image cap">
          {% elif target.cname == Review %}
          <a href="{% url 'reviews:review_detail' target.id %}">
              <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="{{ target.photo.url }}" alt="Card image cap">
          </a>
          {% elif target.cname == User %}
          <img style="height: 53px; width: 53px;" class="mr-3 rounded-circle" src="{{ target.profile.photo.url }}" alt="Card image cap">

          {% endif %}
            {% endif %}
            {% endwith %}
            {% endif %}
          </div>
    </div> <!--/.row-->
  
    {% endfor %}

    <hr/>
</div>

<style>
    .sticky {
      position: -webkit-sticky;
    }
    i.nav-link.active {
      background-color: black !important;
    }
    .header-container {
      padding-bottom: 50px;
    }
  </style>
{% endblock %}





