{% extends "base.html" %}
{% load rating_icon %}
{% load get_class %}

{% block content %}

<div style="padding-bottom: 50px;" class="container">
  <h2 style="font-weight: 600;" class="mt-3 text-left">Activity</h2>
  <hr/>
    {% for action in actions %}
    {% if action.target %}

    <div class="mt-4 mb-4 row">
      <div class="col-3">
          <a href="{% url 'accounts:user' action.user %}">
              {% if action.user.profile.photo %}
              <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="{{ action.user.profile.photo.url }}" alt="Card image cap">
              {% else %}
              <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="https://via.placeholder.com/250" alt="Card image cap">
              {% endif %}
          </a>
      </div>
      <div class="col-6 text-center font-weight-bold text-dark my-auto">
          <a href="{% url 'accounts:user' action.user %}">
              {{ action.user }}
          </a>
          {{ action.verb }} {% if action.target|get_class == 'Review' %}your review{% elif action.target|get_class == 'User' %}you{% endif %}

          {% with target=action.target %}
          {% if not target.profile %}
              <a href="{{ target.get_absolute_url }}">
            {{ target }}
          </a>
          {% endif %}

      </div>
      <div class="col-3">
          {% if target|get_class == 'Strain' %}
          <a href="{{ target.get_absolute_url }}">
            <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded" src="{{ target.photo_url }}"/>
          </a>
          {% elif target|get_class == 'User' %}
          <a href="{% url 'accounts:user' target.username %}">
            <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded-circle" src="{{ target.profile.photo.url }}"/>
          </a>
          {% elif target|get_class == 'Review' %}
          <a href="{{ target.get_absolute_url }}">
            {% if target.photo %}
            <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded" src="{{ target.photo.url }}"/>
            {% else %}
            <img style="height: 53px; width: 53px;" class="mx-auto d-block rounded" src="https://via.placeholder.com/250/"/>
            {% endif %}
          </a>
          {% endif %}
          
          {% endwith %}

        </div>
      </div> <!--/.row-->
       {% endif %}
      {% endfor %}
    </div>

<style>
    body {
      background-color: #f8f9fa;
    }
    .sticky {
      position: -webkit-sticky;
    }
    i.nav-link.active {
      background-color: black !important;
    }
    .header-container {
      padding-bottom: 50px;
    }
  </style>
{% endblock %}





