<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0" name="viewport"/>
    <title>{% block head_title %}Canvas Reviews{% endblock head_title %}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    {% include "messages_display.html" %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="glyphicon glyphicon-menu-hamburger"></span>
         </button>
         <a class="navbar-brand" href="{% url 'reviews:reviews' %}">Canvas</a>
       </div> <!--/.navbar header-->
       <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-left">
           <li><a href="{% url 'reviews:strains' %}">Strains</a></li>
           <li><a href="{% url 'reviews:reviews' %}">Reviews</a></li>
           <li><a href="{% url 'accounts:users' %}">Users</a></li>
         </ul> <!--/.nav navbar-nav navbar-left-->
         <ul class="nav navbar-nav navbar-right">
           {% if request.user.is_authenticated %}
            <li><p class="navbar-text">Welcome, <a href="{% url 'accounts:profile' %}" class="navbar-link">{{ request.user.username }}</a></p></li>
            <li><a href="{% url 'auth:logout' %}">{% bootstrap_icon "log-out" %} Logout</a></li>
            {% else %}
            <li><a href="{% url 'accounts:register' %}">{% bootstrap_icon "user" %} Register</a></li>
            <li><a href="{% url 'auth:login' %}">{% bootstrap_icon "log-in" %} Login</a></li>
            {% endif %}
         </ul> <!--/.nav navbar-nav navbar-right-->
       </div> <!---/.collapse navbar-collapse-->
      </div> <!--/.container-fluid-->
    </nav> <!--/.navbar navbar-default navbar-static-top-->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div> <!--/.container-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
      var csrftoken = $.cookie('csrftoken');
      function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}
        {% endblock %}
      });
    </script>
  </body>
</html>
