{% load static %}
<section id="home">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Canvas Reviews</h1>
      <p class="lead">Discover dozens of cannabis strains</p>
    </div> <!--/.container-->
  </div> <!--/.jumbotron jumbotron-fluid-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Discover strains. Share your favorites.</h3>
        <p>
          Review dozens of cannabis <strong><a href="{% url 'reviews:strains' %}">strains</a></strong>.
          Share your experiences with the cannabis community.
        </p>
        <button class="btn btn-default"><a href="{% url 'reviews:strains' %}">View Strains</a></button>
      </div>
      <div class="col-xs-12">
        <h3>Share reviews.</h3>
        <p>
          Follow users. Like reviews. Find your preferences.
        </p>
        <button class="btn btn-default"><a href="{% url 'accounts:register' %}">Register</a></button>
    </div>
    <div class="col-xs-12">
      <h3>More to Come</h3>
      <p>
        Activity feeds. Multiple photo uploads for reviews. Instagram API integration. Strain finder.
      </p>
    </div>
    <div class="col-xs-6">
      <h4>Powered by</h4>
      <a href="https://www.cannabisreports.com"><img style="margin-bottom:10px;" class="img-responsive" src="{% static 'reviews/images/brand-cannabis-reports.svg' %}"></a>
    </div>
  </div> <!--/.row-->
</div> <!--/.container-->

<div class="container-fluid">
  <div class="row">
    <footer class="footer">
      <div class="col-xs-12">
        <ul id="list">
          <li class="social"><a href="https://www.instagram.com"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          <li class="social"><a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        <p>Created in the PNW <span class="glyphicon glyphicon-tree-conifer"></span></p>
      </div>
    </footer>
  </div>
</div>

</section>
