{% load static %}

    {% for strain in strains %}
    {% with rating=strain.get_average_rating %}
    <div class="strain-card col-sm-12 col-md-3 col-lg-3">
        {% load rating_icon %}
        <a style="text-decoration: none;" class="text-dark" href="{{ strain.get_absolute_url }}">
        {% if strain.image %}
        <img class="card-img-top"
            src="{{ strain.image }}"
            style="object-fit: cover; height: 17rem;"
            alt="Card image cap">
        {% else %}
        <img class="card-img-top"
            src="{% static 'Unknown.png' %}"
            alt="Card image cap">
        {% endif %}
        <div class="card mb-4 shadow-sm" style="border: 0;">
            <div class="card-body">
            <h4 class="card-title text-left">{{ strain }}</h4>
            {% load rating_icon %}
            {% if rating > 0 %}
            <span class="d-block text-left mt-n2">
                {% with count=strain.user_review.all.count %}
                {% if count > 0 %}
                <p>{{ rating|rating_icon }} <span style="font-size: 14px;">({{ count }})</span></p>
                {% endif %}
                {% endwith %}
            </span>
            {% else %}
            <p class="text-left mb-0">Be the first to
                <a class="emerald bold-link" href="{% url 'reviews:strain_review' strain.id %}">review</a>
            </p>
            {% endif %}
            </div>
        </div>
        </a>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-12">
                {% include "partials/strains/strains_pagination.html" %}
            </div>
        </div>
    </div>
