<span style="height: 42px; width: 42px; position: absolute; bottom: 0px; right: 0px; margin: 0 5px 5px 0; background-color: #FFF;" class="mb-2 rounded-circle shadow-lg">
    <a href="{% url 'strains:strain_like' %}"
      data-id="{{ strain.id }}"
      data-action="{% if request.user in users_like %}un{% endif %}like"
      data-url="{% url 'strains:strain_like' %}"
      class="strain-like-btn float-right rounded-circle strain-like">
        <i class="{% if request.user in users_like %}
        fas fa-heart{% else %}text-dark far fa-heart{% endif %}">
        </i>
    </a>
</span>
