{% load static %}

<form id="search-input" method="get" action="/search/" role="form">
    <div class="justify-content-center align-items-center">
        <div class="col-12">
            <div class="input-group mb-2">
                <div id="remote">
                    <input 
                        name="q" 
                        id="q" 
                        autocomplete="off"
                        class="form-control typeahead" 
                        type="text" 
                        placeholder="Search" 
                        aria-label="Search">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-light border border-secondary" type="submit">
                        <i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>