a {
  text-decoration: none;
}

.thumbnail.image-left > img {
  float: left;
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}

.img-responsive.img-rounded.profile {
  height: 60px;
  width: 60px;
}

.profile-photo {
  height: 250px;
  width: 250px;
}
