* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

a {
  text-decoration: none !important;
}

.row.my-reviews{
  margin-top: 100px;
}

.thumbnail.image-left > img {
  float: left;
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}

.img-responsive.img-rounded.profile {
  height: 55px;
  width: 55px;
}

.profile-photo {
  height: 300px;
  width: 300px;
}

.user-list h3 {
  text-align: center;
}

.user-list a {
  color: black;
}

.username-link > h3 {
  margin-bottom: 50px;
}

.user-list-element {
  height: 300px;
  width: 300px;
}
