{% load rating_icon %}
<div class="card-body">
    <h5 class="card-title">
        <a class="text-dark card-text font-weight-bold" href="{{ review.strain.get_absolute_url }}">{{ review.strain }}</a>
        {{ review.rating }}<i class="fas fa-star text-success"></i>
        <span style="font-size: 1.4rem;" class="float-right">
            {% include "partials/strains/strain_review_method_icon.html" %}
        </span>
    </h5>

    <p class="mt-1 card-text">
        <span class="mr-1 font-weight-bold">
            <a class="text-dark" href="{% url 'accounts:user' review.user %}">{{ review.user }}</a>
        </span>
        {{ review.content|truncatechars:115 }}
    </p>
    <p class="text-muted">Posted {{ review.timestamp|timesince }} ago.</p>
</div>