{% load rating_icon %}
<div class="card-body">
    <span style="font-size: 1.1rem;" class="float-right font-weight-bold">
        {{ review.rating|floatformat:1 }}<i class="fas fa-star text-success"></i>
    </span>
    {% include "partials/review_method_badge.html" %}
    <h5 class="mt-3 card-title text-dark font-weight-bold">
        {{ review.strain }}
    </h5>
    <p class="mt-1 card-text">
        <span class="mr-1 font-weight-bold">
            {{ review.user }}
        </span>
        {{ review.content|truncatechars:115 }}
    </p>
    <p class="text-muted">Posted {{ review.timestamp|timesince }} ago.</p>
</div>