<nav style="list-style-type: none;" class="navbar navbar-light bg-white border-top border-bottom mt-4">
    <ul class="mx-auto list-group list-group-horizontal">
      <li class="list-group-item border-top-0 border-bottom-0 border-left-0">
        <span class="mr-3">
          <a class="text-dark" href="{% url 'reviews:share_review' review.id %}">
            <i class="fas fa-share"></i> Share
          </a>
        </span>
      </li>
      <li class="list-group-item border-top-0 border-bottom-0 border-right-0">
        <span class="ml-3">
          <a class="review-like text-dark" href="" data-id="{{ review.id }}" data-action="{% if request.user in review.users_like.all %}un{% endif %}like" class="review-like">
            <i class="{% if request.user in review.users_like.all %}fas fa-heart{% else %}far fa-heart{% endif %}"></i> {% if request.user not in review.users_like.all %} Like {% else %} Unlike {% endif %}
            </a>
        </span>
      </li>
    </ul>
  </nav>
